@import "../style/index.scss";

$bar-height: min(20vw, 10vh);

.bar {
	background-color: $accent-color;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.controlBttn {
	height: $mid-font;
	margin: $ws-2;
}
.controlBttn img {
	height: 100%;
}
