@import "../style/index.scss";

.initialScreen {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timeInputs {
	font-size: $mid-font;
	font-family: "Roboto Mono", monospace;
}
input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
	text-align: center;
	font: inherit;
	padding: $ws-1 0;
}

// Hiding inputs' arrows
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	display: none;
	margin: 0;
}
