@import "../../style/index.scss";

.initialScreen {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: $large-font 0;
}
.timeInputs {
	font-size: $big-font;
	font-family: "Roboto Mono", monospace;
}
input[type="text"] {
	text-align: center;
	font: inherit;
	padding: $ws-1 0;
	width: $large-font;
}
button {
	font-size: $mid-font;
	padding: $ws-1 $ws-3;
	border-radius: 0;
}
